.segment {
  padding: 20px 40px;
  background: #FFFFFF;
  margin-top: 20px;
  @include box-shadow(0 2px 6px 0 rgba(2,122,57,0.20));
  @include border-radius(8px);
}

.empty {
  text-align: center;
  padding: 160px 20px;
  vertical-align: middle;

  h3 {
    margin: 0;
  }
}

.empty-block,
.empty-block:not(.family) > * {
  text-align: center;
  background: $disable-gray;
  text-align: center;
  font-size: 20px;
  padding: 80px 20px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .segment {
    padding-left: 15px;
    padding-right: 15px;
  }
}
