
$padding: 8px;


$black: #323A45;
$dark-gray: #5B616A;
$gray: #989CA2;
$light-gray: #C2C4C7;
$lighten-gray: #cccdd1;
$disable-gray: #F5F5F5;
$border-gray: #F5F5F5;
$note-gray: #b0b0b0;
$white: #FFF;
$bg-gray: #E0E1E3;
$bg-light-gray: #f4f5f8;
$bg-green: #F6FCF9;


$line-primary: #263147;
$line-button: #3D4866;

$tree: #027A39;
$link: #048F3A;
$primary: #00AA42;
$primary-focus: #1ec076;
$yellow: #F8E71C;
$orange: #F58818;
$red: #DE4054;
$price-red: #DE4054;

$label-selected-blue: #4A90E2;
$label-blue: #007bb6;

$border-orange: #C66F1C;
$hover-orange: #F6993A;
$press-orange: #CD5E08;

$button-focus: #fcfcfc;
$button-active-text: $white;
$button-active-bg: blue;