
.bg-tree {
  background: $tree;
}
.bg-link {
  background: $link;
}
.bg-cathay-green {
  background: $primary;
}
.bg-orange {
  background: $orange;
}
.bg-yellow {
  background: $yellow;
}
.bg-red {
  background: $red;
}
.bg-black {
  background: $black;
}
.bg-dark-gray {
  background: $dark-gray;
}
.bg-gray {
  background: $gray;
}
.bg-light-gray {
  background: $light-gray;
}
.bg-border-gray {
  background: $border-gray;
}
.bg-white {
  background: $white;
}
