#app:not(.page-login),
#app > header {
  min-width: 960px;
}

.navbar {
  display: flex;
  background: #35AD4A url(/crm/assets/common/img_header_bg@2x.png) no-repeat;
  background-size: cover;
  padding-top: 0;
  padding-bottom: 0;
  height: 80px;
  border-bottom: 1px solid $tree;
  @include box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.15));
  @include transition(height .3s ease);
  
  .navbar-brand {
    color: #FFF;
    text-decoration: none;
    font-size: 28px;
    text-align: center;
  }

  .btn.btn-leave {
    background: $orange;
    height: 30px;
    line-height: 27px;
    font-size: 16px;
    padding: 0 20px;
    margin-top: 15px;
    color: #FFF;
    border-radius: 4px;
    border: 1px solid $border-orange;

    > * {
      display: inline-block !important;
      vertical-align: middle;
    }

    i {
      margin-right: 8px;
    }

    &:hover,
    &:focus {
      background: $hover-orange;
    }
  }

  ul.navbar-nav {
    margin: 0;
    flex-direction: row;

    &.main {
      flex: 1;
    }

    &:not(.main) >li.nav-item:after {
      display: none;
    }

    > li.nav-item {
      position: relative;
      border-bottom: 4px solid transparent;

      &.user-info {
        position: relative;
        width: auto;
        height: 79px;
        > .dropdown-menu {
          width: 120px;
          left: auto;
          right: 0;
          position: absolute;
        }
      }
      &.message-dropdown {
        width: 66px;
        height: 79px;
      }
      &:after {
        content: '';
        position: absolute;
        margin-top: 10px;
        height: 20px;
        width: 1px;
        background: $white;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        opacity: .3;
      }

      &:last-child:after {
        display: none;
      }

      &.active {
        @include linearGradientVert(bottom, #007329, #009f37);
        border-bottom: 4px solid $yellow;
      }

      > .navbar-brand {
        display: block;
        overflow: hidden;
        text-indent: -9999px;
        width: 90px;
        margin: 4px 0 0;
        padding: 0 15px;
        @include background-retina('/crm/assets/common/logo.png', '/crm/assets/common/logo@2x.png', 72px 32px, true);
        background-repeat: no-repeat;
        background-position: left center;
      }

      > .navbar-brand,
      > .nav-link {
        height: 75px;
        line-height: 75px;
        @include transition(all .3s ease);
      }

      .text {
        display: block;
        line-height: 1;
        font-size: 13px;
        font-weight: 300;
        color: $white !important;
      }

      > .nav-link {
        // height: 40px;
        padding: 0 14px;
        font-size: 16px;
        font-weight: 400;
        line-height: 80px;
        color: $white;
        text-decoration: none;
        box-sizing: border-box;
      }
      
      button {
        background: none;
        border: 0;
      }
      
      .nav-link.message {
        font-size: 24px;
        line-height: 36px;
        padding-top: 12px;
        margin-right: 10px;

        > i[class*="icon-"] {
          vertical-align: middle;
        }

        + .dropdown-menu {
          width: 340px;
          left: 50%;
          margin-left: -180px;
          padding: 10px 0;

          .dropdown-item {
            display: flex;
            color: $black;
            padding: 9px 40px;
            cursor: default;
            .text {
              flex: 1;
              text-align: left;
              display: block !important;
              color: $black !important;
              padding-right: 10px;
              font-size: 1rem;
            }
          }
        }

        .badget {
          position: absolute;
          right: 20px;
          top: 13px;
          display: inline-block;
          width: auto;
          min-width: 0;
          height: auto;
          color: $white;
          font-size: 11px;
          background: $orange;
          line-height: 1;
          padding: 2px;
          @include border-radius(10px);
        }
      }

      .btn.btn-user {
        border: 1px solid $tree;
        color: $yellow;
        padding: 9px 20px 9px 15px;
        line-height: 0;
        margin: 10px 0 0;
        font-weight: 400;
        background: none;
        white-space: nowrap;
        @include border-radius(4px);
        .text {
          margin-top: 5px;
        }
        .name {
          font-size: 14px;
          line-height: 20px;
        }
        .name,
        .avatar {
          display: inline-block;
          vertical-align: middle;
        }
        .avatar {
          position: relative;
          width: 20px;
          height: 20px;
          margin-right: 5px;
          overflow: hidden;
          background: $tree;
          @include border-radius(10px);

          > i {
            position: absolute;
            bottom: 0;
            left: -100%;
            right: -100%;
            margin: auto;
          }
        }
      }
    }
  }
}


header.compact > .navbar {
  height: 50px;

  ul.navbar-nav {
    .text {
      display: none;
    }

    .btn.btn-user {
      margin-top: 4px;
    }

    > li.nav-item.user-info {
      width: auto;
      height: 50px;
    }
    > li.nav-item.message-dropdown {
      width: 64px;
      height: 50px;
    }
    > li.nav-item {
      > .navbar-brand,
      > .nav-link {
        height: 45px;
        line-height: 45px;
      }

      .nav-link.message {
        padding-top: 0;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    ul.navbar-nav {
      flex-direction: row !important;
    }

  }
}